/* TODO figure out why this is not importing into zobomap.css */
.leaflet-container {
  width: 100vw;
  height: 100vh;
}
.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-popup-content-wrapper {
  background-color: #f7f7f7 !important;
  font-size: 14px;
  font-weight: 500;
}

.leaflet-popup-content {
  margin: 6px 9px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

/* TODO: color and borders */
